{
  "rules": {
    "indentation": 4,
    "color-named": "never",
    "color-hex-length": "long",
    "function-url-quotes": "always",
    "no-duplicate-selectors": true,
    "string-quotes": "single",
  }
}
